<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Omnicalc 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      body {
        background-color: #DBE9EE;
        color: #166088;
      }
      body a {
        color: #4883A2;
        text-decoration: none;
      }
      body table {
        border-color: #4A6FA5;
      }
    </style>
  </head>

  <body>
    <table style="width: 100%" border="1">
      <tr>
        <td>
          <a href="/add">Add</a>
        </td>

        <td>
          <a href="/subtract">Subtract</a>
        </td>

        <td>
          <a href="/multiply">Multiply</a>
        </td>

        <td>
          <a href="/divide">Divide</a>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
